<a href="https://colab.research.google.com/github/Hugox96/Analise_Copas/blob/main/Copa_do_Mundo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_csv("results.csv")

In [ ]:
dados

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
44201,2022-12-01,Canada,Morocco,NaN,NaN,FIFA World Cup,Doha,Qatar,True
44202,2022-12-02,Serbia,Switzerland,NaN,NaN,FIFA World Cup,Doha,Qatar,True
44203,2022-12-02,Cameroon,Brazil,NaN,NaN,FIFA World Cup,Lusail,Qatar,True
44204,2022-12-02,Ghana,Uruguay,NaN,NaN,FIFA World Cup,Al Wakrah,Qatar,True
44205,2022-12-02,South Korea,Portugal,NaN,NaN,FIFA World Cup,Al Rayyan,Qatar,True

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44206 entries, 0 to 44205
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        44206 non-null  object
 1   home_team   44206 non-null  object
 2   away_team   44206 non-null  object
 3   home_score  44186 non-null  float64
 4   away_score  44186 non-null  float64
 5   tournament  44206 non-null  object
 6   city        44206 non-null  object
 7   country     44206 non-null  object
 8   neutral     44206 non-null  bool
dtypes: bool(1), float64(2), object(6)
memory usage: 2.7+ MB

**Precisamos trasformar a coluna com as datas para o formato onde é possível  filtrar os anos que ocorrem as datas. Para isso 
utilizarei o parse_dates["nome da coluna"]**

In [ ]:
dados = pd.read_csv("results.csv",  parse_dates=["date"])
dados.head(50)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
5,1876-03-25,Scotland,Wales,4.0,0.0,Friendly,Glasgow,Scotland,False
6,1877-03-03,England,Scotland,1.0,3.0,Friendly,London,England,False
7,1877-03-05,Wales,Scotland,0.0,2.0,Friendly,Wrexham,Wales,False
8,1878-03-02,Scotland,England,7.0,2.0,Friendly,Glasgow,Scotland,False
9,1878-03-23,Scotland,Wales,9.0,0.0,Friendly,Glasgow,Scotland,False
10,1879-01-18,England,Wales,2.0,1.0,Friendly,London,England,False
11,1879-04-05,England,Scotland,5.0,4.0,Friendly,London,England,False
12,1879-04-07,Wales,Scotland,0.0,3.0,Friendly,Wrexham,Wales,False
13,1880-03-13,Scotland,England,5.0,4.0,Friendly,Glasgow,Scotland,False
14,1880-03-15,Wales,England,2.0,3.0,Friendly,Wrexham,Wales,False
15,1880-03-27,Scotland,Wales,5.0,1.0,Friendly,Glasgow,Scotland,False
16,1881-02-26,England,Wales,0.0,1.0,Friendly,Blackburn,England,False
17,1881-03-12,England,Scotland,1.0,6.0,Friendly,London,England,False
18,1881-03-14,Wales,Scotland,1.0,5.0,Friendly,Wrexham,Wales,False
19,1882-02-18,Northern Ireland,England,0.0,13.0,Friendly,Belfast,Ireland,False
20,1882-02-25,Wales,Northern Ireland,7.0,1.0,Friendly,Wrexham,Wales,False
21,1882-03-11,Scotland,England,5.0,1.0,Friendly,Glasgow,Scotland,False
22,1882-03-13,Wales,England,5.0,3.0,Friendly,Wrexham,Wales,False
23,1882-03-25,Scotland,Wales,5.0,0.0,Friendly,Glasgow,Scotland,False
24,1883-02-03,England,Wales,5.0,0.0,Friendly,London,England,False
25,1883-02-24,England,Northern Ireland,7.0,0.0,Friendly,Liverpool,England,False
26,1883-03-10,England,Scotland,2.0,3.0,Friendly,Sheffield,England,False
27,1883-03-12,Wales,Scotland,0.0,3.0,Friendly,Wrexham,Wales,False
28,1883-03-17,Northern Ireland,Wales,1.0,1.0,Friendly,Belfast,Ireland,False
29,1884-01-26,Northern Ireland,Scotland,0.0,5.0,British Home Championship,Belfast,Ireland,False
30,1884-02-09,Wales,Northern Ireland,6.0,0.0,British Home Championship,Wrexham,Wales,False
31,1884-02-23,Northern Ireland,England,1.0,8.0,British Home Championship,Belfast,Ireland,False
32,1884-03-15,Scotland,England,1.0,0.0,British Home Championship,Glasgow,Scotland,False
33,1884-03-17,Wales,England,0.0,4.0,British Home Championship,Wrexham,Wales,False
34,1884-03-29,Scotland,Wales,4.0,1.0,British Home Championship,Glasgow,Scotland,False
35,1885-02-28,England,Northern Ireland,4.0,0.0,British Home Championship,Manchester,England,False
36,1885-03-14,England,Wales,1.0,1.0,British Home Championship,Blackburn,England,False
37,1885-03-14,Scotland,Northern Ireland,8.0,2.0,British Home Championship,Glasgow,Scotland,False
38,1885-03-21,England,Scotland,1.0,1.0,British Home Championship,London,England,False
39,1885-03-23,Wales,Scotland,1.0,8.0,British Home Championship,Wrexham,Wales,False
40,1885-04-11,Northern Ireland,Wales,2.0,8.0,British Home Championship,Belfast,Ireland,False
41,1885-11-28,United States,Canada,0.0,1.0,Friendly,Newark,United States,False
42,1886-02-27,Wales,Northern Ireland,5.0,0.0,British Home Championship,Wrexham,Wales,False
43,1886-03-13,Northern Ireland,England,1.0,6.0,British Home Championship,Belfast,Ireland,False
44,1886-03-20,Northern Ireland,Scotland,2.0,7.0,British Home Championship,Belfast,Ireland,False
45,1886-03-27,Scotland,England,1.0,1.0,British Home Championship,Glasgow,Scotland,False
46,1886-03-29,Wales,England,1.0,3.0,British Home Championship,Wrexham,Wales,False
47,1886-04-10,Scotland,Wales,4.0,1.0,British Home Championship,Glasgow,Scotland,False
48,1886-11-25,United States,Canada,3.0,2.0,Friendly,Newark,United States,False
49,1887-02-05,England,Northern Ireland,7.0,0.0,British Home Championship,Sheffield,England,False

**Agora podemos filtrar os anos, dias e meses desssas datas**

In [ ]:
# Filtrando por ano
dados['date'].dt.year
# Filtrando por mês
dados['date'].dt.month
# Filtrando por dia
dados['date'].dt.day

0        30
1         8
2         7
3         6
4         4
         ..
44201     1
44202     2
44203     2
44204     2
44205     2
Name: date, Length: 44206, dtype: int64

**Vamos para nosso primeiro filtro. Agora eu preciso filtrar apenas os dados correspondentes aos jogos realizados pela FIFA já que em nosso dataframe há muitos torneiros diferentes**

In [ ]:
dados_Fifa = dados[dados['tournament'] == 'FIFA World Cup']
dados_Fifa

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
1311,1930-07-13,Belgium,United States,0.0,3.0,FIFA World Cup,Montevideo,Uruguay,True
1312,1930-07-13,France,Mexico,4.0,1.0,FIFA World Cup,Montevideo,Uruguay,True
1313,1930-07-14,Brazil,Yugoslavia,1.0,2.0,FIFA World Cup,Montevideo,Uruguay,True
1314,1930-07-14,Peru,Romania,1.0,3.0,FIFA World Cup,Montevideo,Uruguay,True
1315,1930-07-15,Argentina,France,1.0,0.0,FIFA World Cup,Montevideo,Uruguay,True
...,...,...,...,...,...,...,...,...,...
44201,2022-12-01,Canada,Morocco,NaN,NaN,FIFA World Cup,Doha,Qatar,True
44202,2022-12-02,Serbia,Switzerland,NaN,NaN,FIFA World Cup,Doha,Qatar,True
44203,2022-12-02,Cameroon,Brazil,NaN,NaN,FIFA World Cup,Lusail,Qatar,True
44204,2022-12-02,Ghana,Uruguay,NaN,NaN,FIFA World Cup,Al Wakrah,Qatar,True
44205,2022-12-02,South Korea,Portugal,NaN,NaN,FIFA World Cup,Al Rayyan,Qatar,True